:root {
  --vixta-dm: "DM Sans", Poppins, Arial, Helvetica, Geneva, sans-serif;
  --vixta-nohemi: "Nohemi", Poppins, Arial, Helvetica, Geneva, sans-serif;
  --vixta-light-brown: #faf7f0;
  --vixta-brown: #4d3d30;
  --vixta-dark-brown: #1c1816;
  --vh: 1vh;
}
